<!--
<footer "id="sticky-footer" class="py-4 bg-dark text-white-100"">
    <div class="container text center">
    <a href="https://www.facebook.com/charles.kashihakumwa">
    <i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/kashihakumwaj/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/julius-kashihakumwa-94932021/"><i class="fa fa-linkedin"></i></a>
    <div class="container text-center">
      <small>Developed and Designed &copy; Julius Kashihakumwa 2020</small>
    </div>
    </div>
</footer> -->


  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
     <p>&copy; <span id="year"></span> | Julius Kashihakumwa |<a href="https://www.facebook.com/charles.kashihakumwa">
    <i class="fa fa-facebook-official"></i></a>
     |<a href="https://www.instagram.com/kashihakumwaj/"><i class="fa fa-instagram"></i></a>
      | <a href="https://www.linkedin.com/in/julius-kashihakumwa-94932021/"><i class="fa fa-linkedin"></i></a>       
            <span id="lastModified"></span>
    </div>
  </footer>
