<nav class="navbar fixed-bottom navbar-light bg-primary">
  <a class="navbar-brand" href="#">Developed and Designed by Julius Kashihakumwa</a>
    <a href="https://www.facebook.com/charles.kashihakumwa"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/kashihakumwaj/"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/julius-kashihakumwa-94932021/"><i class="fa fa-linkedin"></i></a>
</nav>