<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
           <img src=""  class="img-responsive">
        </div>
        <div class="col-sm-2">
         <img src="#">
        </div>
        
         <div class="col-sm-2">
           <img src=""  class="img-responsive">
        </div>
        <div class="col-sm-2">
          <h1>About Page</h1>
          <p> Hi, my name is Julius Kashihakumwa., and I am web developer? </p>
          <p> To show my web designing skills, I decided to design this website using Node.js and 
              Expressjs to build a server side (Back-end)</p>
              <p>I also used html, css/bootstrap and javascripts to build client side (Front-end)</p>
        </div>
    </div>
</div>
<section class="section-about js--section-about" id="about">
     <img src="/images/design_project.PNG">

</section>
<section class="section-about js--section-about" id="about">
    <div class="row">
        <a><img src="/images/jj_profile.PNG">some text</a>
     <p>bbgjgf ghrgujg kkfefeffbb</p>
    </div>
     

</section>
      
