<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
           <img src=""  class="img-responsive">
        </div>
        <div class="col-sm-2">
         <img src="#">
        </div>
        
         <div class="col-sm-2">
           <img src=""  class="img-responsive">
        </div>
        <div class="col-sm-2">
          <h1>About Page</h1>
          <p> Hi, my name is Julius Kashihakumwa., and I am web developer? </p>
          <p> To show my web designing skills, I decided to design this website using Node.js and 
              Expressjs to build a server side (Back-end)</p>
              <p>I also used html, css/bootstrap and javascripts to build client side (Front-end)</p>
              <br>
              <h3>My Resume</h3>
              <a href="/resume/Julius IDS Resume (Apr 2020).pdf"><i class="fa fa-download"> Download pdf </i></a><br>
              <a href="/resume/Julius IDS Resume (Apr 2020).docx"><i class="fa fa-download"> Download docx </i></a>
        </div>
    </div>
</div>

      
