<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rosie Ellis</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
<div class="wrapper">
   <div>
   
   </div>
   <div>
       <img src="/images/PHOTO-2020-05-27-10-42-18.jpg" class="img-reponsive"></div>
  <div>
<h3>My Resume</h3>
<a class="btn btn-full js--scroll-to-plans" href="/resume/Julius IDS Resume (Apr 2020).pdf">Download pdf</a><br>
<a class="btn btn-ghost js--scroll-to-start" href="/resume/Julius IDS Resume (Apr 2020).docx">Download docx</a>

</div>
  <div>Hi, my name is Julius Kashihakumwa., and I am web developer?
    To show my web designing skills, I decided to design this website using Node.js and
    Expressjs to build a server side (Back-end)
    I also used html, css/bootstrap and javascripts to build client side (Front-end)
    </div>
 
</div>
<section class="services" id="services">
  <div class="container">
    <div class="section-heading">
      <h3>Services</h3>
      <h6>What I can do for you</h6>
    </div>
    <div class="my-skills">
      <div class="skill">
        <div class="icon-container">
          <i class="fas fa-laptop-code" style='font-size:36px'></i>
        </div>
        <h4>Website Developer</h4>
          <p>
        I construct alayout of a website, creating a visually interesting home page and user-friendly design,
        and may sometimes write content for the website.
      </p>
      </div>
      
      <div class="skill">
        <div class="icon-container">
        <i class='	fas fa-chalkboard-teacher' style='font-size:36px'></i>
        </div>
        <h4>Mathematics Tutor</h4>
         <p>
        The aims of teaching and learning mathematics are to encourage and enable students to:
        recognize that mathematics permeates the world around us.
      </p>
      </div>
      
      <div class="skill">
        <div class="icon-container">
         <i class="	fas fa-drafting-compass"style='font-size:36px'></i>
        </div>
        <h4>GIS Analyst</h4>
         <p>
        GIS is a system that is used for creating, storing and managing geographic (location / spatial)
        information to solve geographical problems
      </p>
      </div>
   
  </div>
  </section>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="main.js"></script>
</body>
</html>
