<div class="container">
    <div class="row">
        <div class="col-sm-4">
        <img src="/images/jj_profile.png"  class="img-responsive">
    </div>
         <div class="col-sm-4">
          <h1>About Page</h1>
          <p> Hi, my name is Julius Kashihakumwa., and I am web developer? </p>
          <p> To shwo my web designing skills, I decided to design this website using Node.js and 
              Expressjs to build a server side (Back-end)</p>
              <p>I also used html, css/bootstrap and javascripts to build client side (Front-end)</p>
    </div>
    
    </div>
      
    </div>
</div>