<div id="homepage"class="container">
    <h1>Welcome to my Website</h1>
    <h3>Julius Kashihakumwa</h3>
    <img src="" class="img-responsive">
    <h4>Full-Stack Web Developer</h4>
    <p>I can design a simple website for your business, contact me <a href="/contact">contact me</a></p>
</div>
