<div class="container">
    <h1>Portfolio Page</h1>
    <h2>My Projects</h2>

    <p>These are the basic project I used in learning how to be a front-end developer:</p>
<div class="row">
  <div class="column">
    <img id="frontend" src="/images/Project1_pic.PNG" alt="front-end" style="width:100%">
    <a href="https://kashi4.github.io/cit230/lesson1/index.html">front-end project</a>
  </div>
  <div class="column">
    <img src="/images/design_project.PNG" alt="design_principles" style="width:100%">
    <a href="https://kashi4.github.io/cit230/lesson2/design-principles.html">design_principles</a>
  </div>
  <div class="column">
    <img src="/images/linasFoodies_project.PNG" alt="linas_foodies" style="width:100%">
    <a href="https://kashi4.github.io/LinasFoodies/index.html">linas_foodies</a>
  </div>
</div>
  
<div class="row">
    <div class="col-sm-4">
        <img src="/images/websiteTrial_project.PNG" class="img-responsive">
        <a href="https://kashi4.github.io/">Website Trial Project</a>
    </div>
    <div class="col-sm-4">
        <img src="/images/temple_project.PNG" class="img-responsive">
        <a href="https://kashi4.github.io/cit230/lesson13/templeProject/home.html">Temple Project</a>
    </div>
    <div class="col-sm-4">
        <img src="/images/weather_project.PNG" class="img-responsive">
        <a href="https://kashi4.github.io/cit230/lesson11/index.html">The Weather Project</a>
    </div>
    <div class="col-sm-4">
        <img src="/images/socialMedia_app.PNG" class="img-responsive">
        <a href="https://kashi4.github.io/cit261/ProjectAssessment/final.html">Social Media App</a>
    </div>
</div>
    
</div>