.main-body{
    background-color: lightgray;
}


h1{
    
    color: #007bff;
}


#main{
    margin-top: 60px;
    margin-bottom: 20px;
}
/* Home page css */
img{
    width: 300px;
    height:auto;
}

#homepage{
    text-align: center;
}



/* ABOUT  Page */
.about{
    color: #008000;
}


/* PORTFOLIO  Page */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

 .col-sm-4{
     margin: 40px 45px 40px 40px;
     padding:5px 5px 5px 5px;
 }
/* RESUME  Page */
.btn:link,
.btn:visited ,input[type=submit]{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s,color 0.2s;
    
}

.btn-full:link,
.btn-full:visited {
    background-color:#87cefa;
    border:1px solid #ffff00; 
    color: #fff;
    margin-right: 15px;

}

.btn:hover,
.btn:active {
    background-color: #87cefa;
}

.btn:hover,
.btn:active {
    border:1px solid #ffff00;
    
}

.btn-full:hover,
.btn-full:active {
    border:1px solid #ffff00;
    color: #fff;
}

/* CONTACT  Page */
#contact{
    color: #0000ff;
}

/* FOOTER */

.fa{
    color:aliceblue;
}

